# Introduction

This notebook produces 2 CSVs.

The first of which is a concatenated version of ALL tweet ids in the clean_data.
The second of which is a df of sentiment scores for the california tweets.

In [113]:
import pandas as pd
import os

In [114]:
def sentiment_concatenation(df, month1, month2, day1, day2):
    '''input: df to concatenate to, new csv name 
    output: concatenated csvs'''
    new_df=pd.read_csv((cwd + month1 + day1 +"_" + month2+day2 + '.csv'), header=None)
    df = df.append(new_df)
    return df

# Read in and concatenate all month CSVs

In [115]:
#MARCH: 31 DAYS

#20-28 because date 29-30 doesn't exist
df = pd.DataFrame()
for i in range(20, 28):
    sentiment_concatenation(df, 'march', 'march', str(i), str(i+1))

df = sentiment_concatenation(df, 'march', 'march', '30', '31') 
df = sentiment_concatenation(df, 'march', 'april', '31', '1')

In [116]:
#APRIL: 30 DAYS

for i in range(1, 29):
    df = sentiment_concatenation(df,'april', 'april', str(i), str(i+1))

df = sentiment_concatenation(df,'april', 'may', '30', '1')

In [117]:
#MAY: 31 DAYS

for i in range(1, 30):
    df = sentiment_concatenation(df,'may', 'may', str(i), str(i+1))

df = sentiment_concatenation(df,'may', 'june', '31', '1')

In [118]:
#JUNE: 30 DAYS

for i in range(1, 29):
    df = sentiment_concatenation(df,'june', 'june', str(i), str(i+1))

df = sentiment_concatenation(df,'june', 'july', '30', '1')

In [119]:
#JULY: 31 DAYS

for i in range(1, 30):
    df = sentiment_concatenation(df,'july', 'july', str(i), str(i+1))

df = sentiment_concatenation(df,'july', 'august', '31', '1')

In [120]:
#AUGUST: 31 DAYS
for i in range(1, 30):
    df = sentiment_concatenation(df,'august', 'august', str(i), str(i+1))

df = sentiment_concatenation(df,'august', 'september', '31', '1')

In [121]:
#SEPTEMBER: 30 DAYS
for i in range(1, 29):
    df = sentiment_concatenation(df,'september', 'september', str(i), str(i+1))

df = sentiment_concatenation(df,'september', 'october', '30', '1')

In [122]:
#OCTOBER: 31 DAYS

for i in range(1, 30):
    df = sentiment_concatenation(df,'october', 'october', str(i), str(i+1))

df = sentiment_concatenation(df,'october', 'november', '31', '1')

In [123]:
#NOVEMBER: 30 DAYS
for i in range(1, 29):
    df = sentiment_concatenation(df,'november', 'november', str(i), str(i+1))

df = sentiment_concatenation(df,'november', 'december', '30', '1')

In [124]:
df = df.rename(columns={0: 'id', 1:"sentiment"})
df = df.set_index('id')

# Read in California Tweets

In [125]:
ca_tweets = pd.read_csv('../data/march_to_september.csv')
ca_tweets = ca_tweets.set_index('id')

# Merge on the ids to attach sentiment score

In [126]:
df_sent = ca_tweets.merge(df, how = 'left', on = 'id')
df_sent = pd.DataFrame(df_sent['sentiment'])

In [127]:
df.to_csv('../data/concatenated.csv')
df_sent.to_csv('../data/sentiment_scores.csv')

In [128]:
df_sent

                     sentiment
id
1241080025371144192        NaN
1241075581598433281        NaN
1241068075425857541        NaN
1241065882694156288        NaN
1241058413754417153        NaN
...                        ...
1307590494843629570     0.0000
1307616765594218496     0.3000
1307622540274069505     0.0000
1307523162079330307     0.0000
1307821453367275527    -0.0875

[18018 rows x 1 columns]