In [178]:
import pandas as pd
import numpy as np
import os
import h5py

In [179]:
pip install geopandas

Requirement already satisfied: geopandas in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (0.8.1)
Requirement already satisfied: shapely in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.23.0 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.1.4)
Requirement already satisfied: fiona in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (1.8.18)
Requirement already satisfied: pyproj>=2.2.0 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from geopandas) (3.0.0.post1)
Requirement already satisfied: pytz>=2017.2 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (1.19.4)
Requirement already satisfied: munch in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: certifi in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (2020.6.20)
Requirement already satisfied: click-plugins>=1.0 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied: cligj>=0.5 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (0.7.1)
Requirement already satisfied: attrs>=17 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (19.3.0)
Requirement already satisfied: click<8,>=4.0 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (7.1.2)
Note: you may need to restart the kernel to use updated packages.

In [180]:
pip install osmnx

Requirement already satisfied: osmnx in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (0.16.2)
Requirement already satisfied: numpy>=1.19 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (1.19.4)
Requirement already satisfied: requests>=2.24 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (2.24.0)
Requirement already satisfied: geopandas>=0.8 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (0.8.1)
Requirement already satisfied: descartes>=1.1 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (1.1.0)
Requirement already satisfied: matplotlib>=3.3 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (3.3.3)
Requirement already satisfied: pandas>=1.1 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (1.1.4)
Requirement already satisfied: networkx>=2.5 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (2.5)
Requirement already satisfied: pyproj>=2.6 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (3.0.0.post1)
Requirement already satisfied: Rtree>=0.9 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (0.9.4)
Requirement already satisfied: Shapely>=1.7 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from osmnx) (1.7.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.24->osmnx) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.24->osmnx) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.24->osmnx) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.24->osmnx) (2.10)
Requirement already satisfied: fiona in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from geopandas>=0.8->osmnx) (1.8.18)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (7.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=3.3->osmnx) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.1->osmnx) (2020.1)
Requirement already satisfied: decorator>=4.3.0 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from networkx>=2.5->osmnx) (4.4.2)
Requirement already satisfied: setuptools in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from Rtree>=0.9->osmnx) (49.2.0.post20200714)
Requirement already satisfied: attrs>=17 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (19.3.0)
Requirement already satisfied: cligj>=0.5 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (0.7.1)
Requirement already satisfied: click<8,>=4.0 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (7.1.2)
Requirement already satisfied: click-plugins>=1.0 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (1.1.1)
Requirement already satisfied: six>=1.7 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (1.15.0)
Requirement already satisfied: munch in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from fiona->geopandas>=0.8->osmnx) (2.5.0)
Note: you may need to restart the kernel to use updated packages.

In [181]:
# geography
import geopandas as gpd
import osmnx as ox
import csv

In [316]:
df = pd.read_csv('/Users/katiecason/Desktop/207_folder/w207_finalproject/tweets_slightly_cleaned.csv')

/Users/katiecason/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [317]:
df

,created_at,full_text,geo,place,truncated,display_text_range,user,id,entities,possibly_sensitive,lang
0,2020-03-19 19:53:17,#statewaterheaters #getitin #corona #keepingpe...,"{'type': 'Point', 'coordinates': [39.8841, -82...","{'id': '3995cc1483801d24', 'url': 'https://api...",False,"[0, 152]","{'id': 169711005, 'id_str': '169711005', 'name...",1240728065983959040,"{'hashtags': [{'text': 'statewaterheaters', 'i...",False,en
1,2020-03-19 19:53:46,"""ain't no humans outside! (corona!)"" 😂😂😂🤣 @ Cl...","{'type': 'Point', 'coordinates': [41.4996, -81...","{'id': '0eb9676d24b211f1', 'url': 'https://api...",False,"[0, 83]","{'id': 29464656, 'id_str': '29464656', 'name':...",1240728187136610306,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,en
2,2020-03-19 19:53:54,Salam Friends\nLooking at the grave financial ...,"{'type': 'Point', 'coordinates': [24.86, 67.01]}","{'id': '01aadce76841e2c5', 'url': 'https://api...",False,"[0, 216]","{'id': 3180254803, 'id_str': '3180254803', 'na...",1240728221986906113,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,en
3,2020-03-19 19:54:27,Thanks to COVID19 we are under unprecedented l...,"{'type': 'Point', 'coordinates': [-26.46984747...","{'id': '7db53e74bdc6007e', 'url': 'https://api...",False,"[0, 207]","{'id': 39557009, 'id_str': '39557009', 'name':...",1240728361556750338,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,en
4,2020-03-19 19:55:33,#tbt to the current #anime that I'm rewatching...,"{'type': 'Point', 'coordinates': [1.0, 17.0]}","{'id': '00893962665a2284', 'url': 'https://api...",False,"[0, 192]","{'id': 2923230219, 'id_str': '2923230219', 'na...",1240728639358017536,"{'hashtags': [{'text': 'tbt', 'indices': [0, 4...",False,en
...,...,...,...,...,...,...,...,...,...,...,...
251390,2020-12-01 03:59:47,Could this be Winter?\n#november30th2020 #wint...,"{'type': 'Point', 'coordinates': [44.49989, -8...","{'id': '721eff9856a56962', 'url': 'https://api...",False,"[0, 187]","{'id': 14258796, 'id_str': '14258796', 'name':...",1333621790887845888,"{'hashtags': [{'text': 'november30th2020', 'in...",False,en
251391,2020-12-01 04:04:07,Looking to score a job at Thermo Fisher Scient...,"{'type': 'Point', 'coordinates': [18.5204303, ...","{'id': '5c0761bdffa0cb64', 'url': 'https://api...",False,"[0, 207]","{'id': 40949464, 'id_str': '40949464', 'name':...",1333622883264806913,"{'hashtags': [{'text': 'Sales', 'indices': [19...",True,en
251392,2020-12-01 04:05:11,@wolf_monkey I probably won’t be watching. Liv...,"{'type': 'Point', 'coordinates': [39.70002698,...","{'id': '3f5897b87d2bf56c', 'url': 'https://api...",False,"[13, 85]","{'id': 773287, 'id_str': '773287', 'name': 'Mo...",1333623150236610560,"{'hashtags': [], 'symbols': [], 'user_mentions...",True,en
251393,2020-12-01 04:21:12,Book of Covid-19.\n\nPages: 336/366\n\nChapter...,"{'type': 'Point', 'coordinates': [3.14862025, ...","{'id': '7b02fbddf4d9f2c6', 'url': 'https://api...",False,"[0, 107]","{'id': 311637553, 'id_str': '311637553', 'name...",1333627184091639808,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,en
251394,2020-12-01 04:22:47,1 December is #worldaidsday The pandemic that...,"{'type': 'Point', 'coordinates': [49.195, 16.6...","{'id': '0022a08d5dbd06d4', 'url': 'https://api...",False,"[0, 142]","{'id': 43453149, 'id_str': '43453149', 'name':...",1333627579492753408,"{'hashtags': [{'text': 'worldaidsday', 'indice...",False,en

In [318]:
df = df[df['geo'].notna()]

In [319]:
import ast

In [320]:
df.geo = df.geo.apply(lambda x: ast.literal_eval(x))

/Users/katiecason/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [321]:
df.geo = df.geo.apply(lambda x: x['coordinates'])

In [322]:
pip install geopy

Requirement already satisfied: geopy in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /Users/katiecason/opt/anaconda3/lib/python3.8/site-packages (from geopy) (1.50)
Note: you may need to restart the kernel to use updated packages.

In [323]:
from geopy.geocoders import Nominatim
from geopy.point import Point

In [324]:
#manually filtering latitude and longitude to find locations

#df = df[df['coordinates'].notna()]
#data = df['coordinates'].str.split(',', n=1, expand = True)
#df['longitude'] = data[0]
#df['latitude'] = data[1]
#df['coordinates'] = df[['latitude', 'longitude']].apply(lambda x: ','.join(x), axis=1)

In [325]:
df.created_at = df.created_at.apply(lambda x: pd.to_datetime(x).date())

In [326]:
date_after = pd.to_datetime('2020-03-20') #this is where our twitter data begins
date_before = pd.to_datetime('2020-04-20') #this is where our twitter data ends
df = df[df['created_at'] >= date_after]
df = df[df['created_at'] <= date_before]

In [327]:
df['longitude'] = df['geo'].apply(lambda x: x[1])
df['latitude'] = df['geo'].apply(lambda x: x[0])
df = df[df['longitude'].between(-125, -115)]
df = df[df['latitude'].between(33,42)]
df

,created_at,full_text,geo,place,truncated,display_text_range,user,id,entities,possibly_sensitive,lang,longitude,latitude
177,2020-03-20,"My office, staying at home, helping Stop the C...","[33.6638, -118.0076]","{'id': '80eb17ffe368fc9a', 'url': 'https://api...",False,"[0, 132]","{'id': 29916709, 'id_str': '29916709', 'name':...",1240790800088403968,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,en,-118.007600,33.663800
180,2020-03-20,Corona CA Thu Mar 19th PM Forecast: TONIGHT Ch...,"[33.8752, -117.5655]","{'id': '5e4b6834e36e68fa', 'url': 'https://api...",False,"[0, 94]","{'id': 354691403, 'id_str': '354691403', 'name...",1240791066011488257,"{'hashtags': [], 'symbols': [], 'user_mentions...",True,en,-117.565500,33.875200
200,2020-03-20,“COLDER” should i shoot this video next??? @ C...,"[33.8753, -117.566]","{'id': '5e4b6834e36e68fa', 'url': 'https://api...",False,"[0, 87]","{'id': 867752113794818048, 'id_str': '86775211...",1240796072735375366,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,en,-117.566000,33.875300
202,2020-03-20,#tbt to Pyramid lake last Sunday. If I can't D...,"[39.913219, -119.538259]","{'id': 'd374fb61a20fb74f', 'url': 'https://api...",False,"[0, 240]","{'id': 20883322, 'id_str': '20883322', 'name':...",1240796877093822466,"{'hashtags': [{'text': 'tbt', 'indices': [0, 4...",False,en,-119.538259,39.913219
206,2020-03-20,.\n👆🏾ClickFollow &amp;/or a “😂”👆🏾 \n#DM to 5 p...,"[34.0522, -118.243]","{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,"[0, 235]","{'id': 23940847, 'id_str': '23940847', 'name':...",1240799104009150464,"{'hashtags': [{'text': 'DM', 'indices': [34, 3...",False,en,-118.243000,34.052200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20956,2020-04-20,A little ray of sunshine on these dark days #c...,"[33.88366, -117.5646]","{'id': '5e4b6834e36e68fa', 'url': 'https://api...",False,"[0, 202]","{'id': 74402020, 'id_str': '74402020', 'name':...",1252381368119525383,"{'hashtags': [{'text': 'cheflife', 'indices': ...",False,en,-117.564600,33.883660
20959,2020-04-20,#snapchat👻 addiction #covid #quarantinelife #s...,"[34.17541248, -118.33602388]","{'id': 'b0b79caecef59fb5', 'url': 'https://api...",False,"[0, 96]","{'id': 156361436, 'id_str': '156361436', 'name...",1252382207793983495,"{'hashtags': [{'text': 'snapchat', 'indices': ...",False,en,-118.336024,34.175412
20960,2020-04-20,"🦋 On a #beautiful, #sunny #spring day, #strang...","[38.5763, -121.4927]","{'id': 'b71fac2ee9792cbe', 'url': 'https://api...",False,"[0, 201]","{'id': 114578117, 'id_str': '114578117', 'name...",1252382248411660288,"{'hashtags': [{'text': 'beautiful', 'indices':...",False,en,-121.492700,38.576300
20973,2020-04-20,🧟‍♂️ 👁Have we #morphed into some sort of #twil...,"[38.5763, -121.4927]","{'id': 'b71fac2ee9792cbe', 'url': 'https://api...",False,"[0, 142]","{'id': 114578117, 'id_str': '114578117', 'name...",1252384202630168577,"{'hashtags': [{'text': 'morphed', 'indices': [...",False,en,-121.492700,38.576300
20975,2020-04-20,Nati is giving me a pedicure cause lord knows ...,"[33.8023, -118.064]","{'id': '0799ff0a3c1006e9', 'url': 'https://api...",False,"[0, 198]","{'id': 778871382, 'id_str': '778871382', 'name...",1252384462563766273,"{'hashtags': [{'text': 'stayhome', 'indices': ...",False,en,-118.064000,33.802300

In [328]:
geolocator = Nominatim(user_agent='katiecason@berkeley.edu')
location = df['geo'].apply(lambda x: geolocator.reverse(x))

In [329]:
states = location.apply(lambda x: x.raw['address'].get('state', ''))

In [330]:
df['state'] = states

In [331]:
df

,created_at,full_text,geo,place,truncated,display_text_range,user,id,entities,possibly_sensitive,lang,longitude,latitude,state
177,2020-03-20,"My office, staying at home, helping Stop the C...","[33.6638, -118.0076]","{'id': '80eb17ffe368fc9a', 'url': 'https://api...",False,"[0, 132]","{'id': 29916709, 'id_str': '29916709', 'name':...",1240790800088403968,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,en,-118.007600,33.663800,California
180,2020-03-20,Corona CA Thu Mar 19th PM Forecast: TONIGHT Ch...,"[33.8752, -117.5655]","{'id': '5e4b6834e36e68fa', 'url': 'https://api...",False,"[0, 94]","{'id': 354691403, 'id_str': '354691403', 'name...",1240791066011488257,"{'hashtags': [], 'symbols': [], 'user_mentions...",True,en,-117.565500,33.875200,California
200,2020-03-20,“COLDER” should i shoot this video next??? @ C...,"[33.8753, -117.566]","{'id': '5e4b6834e36e68fa', 'url': 'https://api...",False,"[0, 87]","{'id': 867752113794818048, 'id_str': '86775211...",1240796072735375366,"{'hashtags': [], 'symbols': [], 'user_mentions...",False,en,-117.566000,33.875300,California
202,2020-03-20,#tbt to Pyramid lake last Sunday. If I can't D...,"[39.913219, -119.538259]","{'id': 'd374fb61a20fb74f', 'url': 'https://api...",False,"[0, 240]","{'id': 20883322, 'id_str': '20883322', 'name':...",1240796877093822466,"{'hashtags': [{'text': 'tbt', 'indices': [0, 4...",False,en,-119.538259,39.913219,Nevada
206,2020-03-20,.\n👆🏾ClickFollow &amp;/or a “😂”👆🏾 \n#DM to 5 p...,"[34.0522, -118.243]","{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,"[0, 235]","{'id': 23940847, 'id_str': '23940847', 'name':...",1240799104009150464,"{'hashtags': [{'text': 'DM', 'indices': [34, 3...",False,en,-118.243000,34.052200,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20956,2020-04-20,A little ray of sunshine on these dark days #c...,"[33.88366, -117.5646]","{'id': '5e4b6834e36e68fa', 'url': 'https://api...",False,"[0, 202]","{'id': 74402020, 'id_str': '74402020', 'name':...",1252381368119525383,"{'hashtags': [{'text': 'cheflife', 'indices': ...",False,en,-117.564600,33.883660,California
20959,2020-04-20,#snapchat👻 addiction #covid #quarantinelife #s...,"[34.17541248, -118.33602388]","{'id': 'b0b79caecef59fb5', 'url': 'https://api...",False,"[0, 96]","{'id': 156361436, 'id_str': '156361436', 'name...",1252382207793983495,"{'hashtags': [{'text': 'snapchat', 'indices': ...",False,en,-118.336024,34.175412,California
20960,2020-04-20,"🦋 On a #beautiful, #sunny #spring day, #strang...","[38.5763, -121.4927]","{'id': 'b71fac2ee9792cbe', 'url': 'https://api...",False,"[0, 201]","{'id': 114578117, 'id_str': '114578117', 'name...",1252382248411660288,"{'hashtags': [{'text': 'beautiful', 'indices':...",False,en,-121.492700,38.576300,California
20973,2020-04-20,🧟‍♂️ 👁Have we #morphed into some sort of #twil...,"[38.5763, -121.4927]","{'id': 'b71fac2ee9792cbe', 'url': 'https://api...",False,"[0, 142]","{'id': 114578117, 'id_str': '114578117', 'name...",1252384202630168577,"{'hashtags': [{'text': 'morphed', 'indices': [...",False,en,-121.492700,38.576300,California
20975,2020-04-20,Nati is giving me a pedicure cause lord knows ...,"[33.8023, -118.064]","{'id': '0799ff0a3c1006e9', 'url': 'https://api...",False,"[0, 198]","{'id': 778871382, 'id_str': '778871382', 'name...",1252384462563766273,"{'hashtags': [{'text': 'stayhome', 'indices': ...",False,en,-118.064000,33.802300,California

In [175]:
df = df[df.state != '']

In [176]:
df

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified,longitude,latitude,state
0,"-1.29889,36.77943",Wed Apr 01 09:01:18 +0000 2020,corona coronavirus covid stayhome,NaN,https://www.instagram.com/p/B-brG4pFTdp/?igshi...,0,1245275030956544002,NaN,NaN,NaN,...,"EAST AFRICA, WORLDWIDE",NDANAH MIQASSA,bandanahmiqassa,23042,NaN,https://youtu.be/0uu8AzxGmeI,False,36.77943,-1.29889,Nairobi
2,"51.2334699,-0.32863",Wed Apr 01 09:01:11 +0000 2020,homeschooling stayhome corona,NaN,https://www.instagram.com/p/B-brXf-hhna/?igshi...,0,1245275001563099136,NaN,NaN,NaN,...,NaN,Emilie-Kate Owen,emiliekateowen,236,NaN,NaN,False,-0.32863,51.2334699,England
3,"43.648,-79.3872",Wed Apr 01 10:04:31 +0000 2020,comedian comedy funny,NaN,https://www.instagram.com/p/B-byRhlHij9/?igshi...,0,1245290940148875265,NaN,NaN,NaN,...,"Toronto,NewYork,LosAngeles,MIA",KingOfScotia,SoFlyyTizzy902,11637,NaN,NaN,False,-79.3872,43.648,Ontario
6,"51.51013381,-0.08604754",Wed Apr 01 05:46:58 +0000 2020,London underground corona commute covid19 soci...,NaN,https://www.instagram.com/p/B-bVJGIgJq8/?igshi...,0,1245226125636317184,NaN,NaN,NaN,...,City of London,🌱 Charles Pycraft 📷,yiquai,36839,NaN,http://www.pycraftgardening.co.uk,False,-0.08604754,51.51013381,England
7,"28.631747,77.219672",Wed Apr 01 06:29:55 +0000 2020,mavic2pro mavic dji,NaN,https://www.instagram.com/p/B-baDo1Aaas/?igshi...,0,1245236933711867905,NaN,NaN,NaN,...,NaN,Gourav arya,Cinematorseye,176,NaN,NaN,False,77.219672,28.631747,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,"22.7253,75.8655",Thu Apr 02 06:17:33 +0000 2020,NaN,NaN,https://www.instagram.com/p/B-d9X9cnhuT/?igshi...,1,1245596210578083845,NaN,NaN,NaN,...,"Mumbai, India",Viral Bhayani,viralbhayani77,32199,NaN,NaN,False,75.8655,22.7253,Madhya Pradesh
586,"13.67087,79.04951",Thu Apr 02 06:25:53 +0000 2020,NaN,NaN,https://www.instagram.com/p/B-d-ZGUDFc1/?igshi...,0,1245598309328117761,NaN,NaN,NaN,...,"Andhra Pradesh, India",M S Imran Jkmsf,msimran4462,70,NaN,NaN,False,79.04951,13.67087,Andhra Pradesh
587,"-27.75,29.9333",Thu Apr 02 06:25:49 +0000 2020,NaN,NaN,https://www.instagram.com/p/B-d-YiDDB76/?igshi...,0,1245598290940289026,NaN,NaN,NaN,...,"Newcastle, South Africa",Peter Mushoriwa,mushoriwapeter,36,NaN,NaN,False,29.9333,-27.75,KwaZulu-Natal
589,"11.256405,75.785708",Thu Apr 02 06:29:27 +0000 2020,gocorona TheTower StaySafe stayhome stayhealth...,NaN,http://ubaid.ck https://www.instagram.com/p/B-...,0,1245599205298556929,NaN,NaN,NaN,...,#Vengara #Kozhikode #Kerala,❤ Tagliafico ⚽,zainukappan,46932,NaN,NaN,False,75.785708,11.256405,Kerala
590,"9.53580482,99.93404734",Thu Apr 02 06:33:00 +0000 2020,corona archive thailand kohsamui,NaN,https://www.instagram.com/p/B-d_NJ1JOxH/?igshi...,3,1245600097708019712,NaN,NaN,NaN,...,"Moscow, Russia",leyli Karimova,leylikarimova,51407,NaN,http://www.instagram.com/leyli.karimova,False,99.93404734,9.53580482,จังหวัดสุราษฎร์ธานี

In [177]:
items_counts = df['state'].value_counts()
max_county = items_counts.idxmax()
items_counts

California             66
England                50
New York               41
Florida                22
Texas                  19
                       ..
Nusa Tenggara Timur     1
المنطقة الشرقية         1
සබරගමුව පළාත            1
Idaho                   1
Lombardia               1
Name: state, Length: 144, dtype: int64